@font-face {
	font-family: font_aguafina_script;
	src: url(https://s3.amazonaws.com/inkboxdesigns/fonts/font_aguafina_script.otf);
}
@font-face {
	font-family: font_amatic_sc;
	src: url(https://s3.amazonaws.com/inkboxdesigns/fonts/font_amatic_sc.otf);
}
@font-face {
	font-family: font_cinzel;
	src: url(https://s3.amazonaws.com/inkboxdesigns/fonts/font_cinzel.otf);
}