html { height: 100%; }

body {
	background-color: #f4f4f6;
	/*overflow: hidden;*/
	font-family: 'Aleo';
}

.redBG { background-color: #e74c3c; }
.orangeBG { background-color: #f39c12; }
.yellowBG { background-color: #f1c40f; }
.greenBG { background-color: #2ecc71; }
.darkgreenGB { background-color: #1EBBA6; }
.blueBG { background-color: #62BBC1; }
.darkblueBG { background-color: #62BBC1; }
.purpleBG { background-color: #AF2BBF; }
.blackBG { background-color: #393D3F; }

.moonstoneText { color: #62BBC1; }
.platinumText { color: #E6E8E6; }
.smokeText { color: #F4F4F6; }
.blackoliveText { color: #393D3F; }
.smokyBlackText { color: #131200; }

.green-text { color: #62bbc1; }
.purple-text { color: #af2bbf; }

.header_div,
.footer_div {
	position: fixed;
	left: 0px;

	width: 100%;

	z-index: 100;

	border-bottom: 1px #393d3f solid;
}

.header_div { 
	top: 0px;
	background-color: #f4f4f6;
	height: 10rem;
}
.footer_div { 
	bottom: 0px;
	height: 5rem;
}

.main_section_container { 
	margin-top: 10rem;
	margin-bottom: 5rem;
}

.section_div { 
	height: 300px;
	float: left;
}
.section_div_top_half { height: 30vh; }
.section_div_bottom_half { height: 80vh; }

.section_div_header {
	height: 75px;
	width: 100%;
}

#sales_div > .section_div_header {
	background-color: #393d3f;
}

.section_div_header > p {
	font-size: 26px;
	font-weight: bold;

	padding-top: 20px;
	padding-left: 20px;
}

#sales_div > .section_div_header > p {
	color: #f4f4f6;
}

.section_div_body {
	height: 225px;
	background-color: #e6e8e6;

	padding: 20px;
}

.section_div_body > .subheader {
	font-size: 26px;
	font-weight: bold;
	color: #62bbc1;
}

.well.blueBG { border: 1px solid #05B2D2; }
.well.darkgreenGB { border: 1px solid #1EBBA6; }

.blueBG,
.darkgreenGB,
.blackBG {
	color: #E6E8E6;
}

.bigText {
	font-size: 4em!important;
	font-weight: bold!important;
}

@font-face {
	font-family: 'Aleo';
	src: url('/fonts/Aleo-Regular.otf');
	font-weight: normal;
}
@font-face {
	font-family: 'Aleo';
	src: url('/fonts/Aleo-Bold.otf');
	font-weight: bold;
}

.digital-clock {
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 200px;
	height: 60px;
	color: #333;
	padding: 3px;
	border-radius: 4px;
	text-align: center;
}

@-webkit-keyframes ticker {
	0% {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	  visibility: visible;
	}
	100% {
	  -webkit-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
	}
}
@keyframes ticker {
	0% {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	  visibility: visible;
	}
	100% {
	  -webkit-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
	}
}
.ticker-wrap {
	position: fixed;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	height: 4rem;
	background-color: #131200;
	padding-left: 100%;
}

.ticker {
	display: inline-block;
	height: 4rem;
	line-height: 4rem;
	white-space: nowrap;
	padding-right: 100%;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-name: ticker;
	animation-name: ticker;
	-webkit-animation-duration: 120s;
	animation-duration: 120s;
}
.ticker__item {
	display: inline-block;
	padding: 0 2rem;
	font-size: 2rem;
	color: white;
}

.point_text {
	font-family: Aleo;
	text-align: center;
	color: #131200;
}

#rotisserie_section,
#mission_section {
	width: 389px;
	background-color: #e6e8e6;
	border-top: 1px solid #62bbc1;
}

#rotisserie_section {
	margin-right: 20px;
}

#rotisserie_section > .section_div_header,
#mission_section > .section_div_header {
	background-color: #e6e8e6;
}

#rotisserie_section > .section_div_header > p,
#mission_section > .section_div_header > p {
	color: #62bbc1;
}

#gossip_section {
	width: 798px;
}

#sales_div {
	width: 299px;
}

.gossip_card {
	background-color: #e6e8e6;
	height: 300px;
	min-height: 300px;

	border-top: 1px solid #62bbc1;
}

.gossip_card_image {
	width: 60%;
	height: 300px;

	float: left;
}

.gossip_card_sub {
	background-color: #e6e8e6;

	width: 40%;
	height: 300px;

	float: left;
}

.horizontal_divider {
	height: 300px;

	border-right: 1px solid #62bbc1;

	margin-left: 20px;
	margin-right: 20px;
}

@media (max-width: 768px) {
	.header_div, .footer_div {
		position: relative;
	}

	#gossip_section {
		width: 100%;
	}

	.section_div {
		height: auto;
	}

	.gossip_card_sub, .gossip_card_image {
		width: 100%;
	}
}
